# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/